.dashBordContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 350px;
    width: 350px; */
    h5{
        margin-bottom: 15px;
    }
}