.dashBordContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h4{
        margin-left: 20px;
        width: 280px;
    }
    ul{
        margin-left: 80px;
        margin-bottom: -50px;
    }
   
    li span {
        color: rgb(0, 0, 0); 
    }
}
