.compactCard {
    display: flex;
    flex: 1;
    /* height: 7rem!important; */
    border-radius: 0.7rem;
    position: relative;
    color: white;
    cursor: pointer;
    padding: 1rem;
    background: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
    box-shadow: 0px 10px 20px 0px #e0c6f5;
    margin-top: 20px;
    width: 350px;
    height: 250px;
}

